.main{
  margin: auto;
}
.displaymessage{
    display: flex;
    margin-top: 3px;
    padding-left: 10px;
}
.username{
font-family: "Plus Jakarta Sans";
font-size: 16px;
font-weight: 800;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
color: #1C202B;
padding-right: 5px;

}
.notif{
  padding-left: 10px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
.notifications{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  
}
.notifyicon{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #1C202B;
}
.icon{
  height: 25px;
  width: 32px;
  border-radius: 6px;
  font-family: 'Plus Jakarta Sans';
  background: #0A327B;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 6px 15px;
  margin-left: 10px;
}
.mark-all{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #5E6778;
  border: none;
  background-color: white;

}
.mark-all:hover{
  color: #0A327B;
  cursor: pointer;
}
.dot{
 margin-left: 5px;
}
.dotnone{
  display: none;
}
.username:hover{
  color: #0A327B;
  cursor: pointer;
}
.content{
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #5E6778;
  margin-left: 2px;
}

.message{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.message .notifys{
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color:  #5E6778;
  text-decoration: none;
  margin-left: 5px;
}
.message .notifys:hover{
  color: #0A327B;
  cursor: pointer;
}
.userContent{
  display: flex;
  flex-direction: column;
  height: 45px;
  width: 554px;
  left: 469px;
  top: 175px;
  border-radius: 0px;
  margin-left: 15px;
}
.container1 p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
  padding-left: 12px;
  margin-top: 5px;
}
.date p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #939CAD;
}
.chess{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #0A327B;
  text-decoration: none;
}


/* mobile view */


@media only screen and (max-width:430px){
  .username,.date p, .notif,.chess,.content,.message .notifys, .container1 p{
    font-size: 14px;
    line-height: 18px;
  }
  .head{
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
  }
  .mark-all{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  .icon{
    padding: 3px 10px;
  }
  
}